footer {
  text-align: center;
  background: transparent;
  font-family: Avenir, Helvetica, Arial, sans-serif;
  p {
    position: absolute;
    bottom: 0;
    width: 100%;
    left: 0;
    a {
      text-decoration: none;
      color: inherit;
      &:hover {
        border-bottom: 1px solid;
      }
    }
  }
}
